nav {
    margin: 0 auto;
    background: #A64DFF;
    line-height: 35px;
    color: white;
    padding: 0;
    list-style-type: none;
    border: 0;
    font-size: 12px;
    width: 80%;
}

nav ul {
    margin: 0 58px;
}

li {
    display: inline;
    padding: 0;
    margin: 0;
}

a:hover {
    background: #EEEEEE;
    color: #A0A09E;
    line-height: 35px;
}

a {
    display: inline-block;
    padding: 6px 16px;
}

li:last-child {
   float: right;
}