nav {
    margin: 0 auto;
    background: #A64DFF;
    line-height: 35px;
    color: white;
    padding: 0;
    list-style-type: none;
    border: 0;
    font-size: 12px;
    width: 77%;
}

li {
    display: inline;
    padding: 0;
    margin: 0;
}

ul:first-child {
    padding-left: 63px;
}

a:hover {
    background: #EEEEEE;
    color: #A0A09E;
    line-height: 35px;
    border: 0;
}

a {
    display: inline-block;
    padding: 3px 16px 3px 16px;
}

