table {
    width: 100%;
    border-collapse: collapse;
    height: 45%;
    background: #FFFFFF;
}

td {
    border-bottom: 2px solid #E7E7D8;
}

tr, td {
    padding: 7px 13px;
    text-align: center;
    font-size: 21px;
}

tr:nth-child(2n) {
    background: #DDEBF8;
}

td:nth-child(2n+3) {
    background: #F2F2DD;
}
