nav {
    margin: 0 auto;
    padding: 0;
    border: 0;
}

ul {
    color: #A13BCD;
    font-size: 11px;
}

a {
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 7px;
}

li {
    display: inline;
}

.left-nav:before {
    content: '\00AB';
    padding-right: 2px;
}

.right-nav:after {
    content: '\00BB';
    padding-left: 2px;
}

a:hover {
    background: #A23CD0;
    color: white;
    border: 2px #9E11DC;
    padding: 6px 9px;
}

.left-nav {
    padding-left: 17px;
    padding-right: 5px;
}

.right-nav {
    padding-right: 17px;
    padding-left: 5px;
}

.left-nav a, .right-nav a, .dots a {
    border: 0;
}

.dots {
    position: relative;
    bottom: -7px;
}

.left-nav a:hover,
.right-nav a:hover,
.dots a:hover {
    color: #A13BCD;
    background: #FFFFFF;
    padding: 5px 7px;
}