input[id="red"]:checked ~ .red {
    background: red;
    width: 85px;
}

input[id="blue"]:checked ~ .blue {
    background: blue;
    width: 65px;
}

input[id="green"]:checked ~ .green {
    background: green;
    width: 90px;
}

input[id="blue"]:checked ~ .blue,
input[id="green"]:checked ~ .green,
input[id="red"]:checked ~ .red {
    display: inline-block;
    border-radius: 7px;
    text-align: center;
}

input[type="checkbox"] {
    display: none;
}

.red, .green, .blue {
    color: white;
    display: none;
    height: 25px;
}

label[for="red"] {
     border-bottom: 1px solid red;
     color: red;
     margin-left: 20px;
}

label[for="green"] {
    border-bottom: 1px solid green;
    color: green;
}

label[for="blue"] {
    border-bottom: 1px solid blue;
    color: blue;
}

label[for="blue"],
label[for="green"],
label[for="red"] {
    opacity: 0.4;
    margin: 25px;
}

input[id="green"]:checked ~ label[for="green"],
input[id="blue"]:checked ~ label[for="blue"],
input[id="red"]:checked ~ label[for="red"] {
    opacity: 1;
}

div {
    font-size: 20px;
}

span {
    margin: 2px;
}