section {
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

nav {
  line-height: 40px;
}

.logo {
  float: left;
  margin: 15px 220px;
}

img {
  width: 240px;
}

.menu {
  position: relative;
  right: 80px;
  top: 10px;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}

.banner {
  background-image: url("title-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 500px;
  position: absolute;
  top: 90px;
  left: 5%;
  color: white;
  text-align: center;
}

ul li a {
  color: #6B3E9B;
  font-size: 12px;
  font-weight: bold;
  padding: 23px 3px;
}

li a:hover, a:active, a:focus {
  border-bottom: 5px solid #3070A8;
}

a:active, a:focus {
  color: #FF0404;
}

.description {
  width: 60%;
  position: relative;
  top: 130px;
  left: 20%;
}

.name {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  font-size: 29px;
  letter-spacing: 0.04em;
}

p {
  margin: 0 auto;
  font-size: 36px;
  letter-spacing: 0.04em;
}

.button {
  border: 1px solid white;
  position: relative;
  top: 30px;
  padding: 15px 50px;
  font-size: smaller;
  display: inline-block;
}

.button:hover {
  background: darkslategray;
  color: white;
}

div .italic {
  font-style: italic;
  font-family: Calibri;
  font-size: 16px;
  margin: 15px 0;
}