* {
  box-sizing: border-box;
}

.contaniar {
  margin: 0 auto;
  height: 442px;
  width: 285px;
  border: 2px solid #EE8129;
  background: #EE8129;
  color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 5px 2px #DCECF4;
  padding: 25px 0 0 0;
}

.contaniar span {
  font-size: 20px;
  font-weight: bolder;
}

.content {
  background: #FFFFFF;
  width: 279px;
  height: 370px;
  margin: 0 auto;
  color: #35495A;
  position: relative;
}

.name {
  height: 35px;
  font-size: 20px;
  padding: 20px 0 0 0;
}

p .price {
  font-size: 70px;
  font-weight: bolder;
}

ul {
  position: relative;
  left: -5px;
  list-style-image: url("arrow.png");
  list-style-position: inside;
  background-position: center;
}

li {
  width: 95%;
  border-bottom: 2px solid #FFFFFF;
  text-align: left;
  padding: 7px 20px;
  letter-spacing: 0.05em;
  margin: 0 -5px;
}

li:nth-child(odd) {
  background: #EDF5FD;
}

li:nth-child(even) {
  background: #F5F5F6;
}

a {
  display: inline-block;
  background: #EE8129;
  box-shadow: 0 2px 0 1px #B3560B;
  width: 84%;
  height: 35px;
  position: relative;
  left: 2px;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 14px;
  margin-bottom: 25px;
}

p sup {
  position: relative;
  bottom: 35px;
}

.content p {
  font-weight: bolder;
}