a[href*="google"] {
    color:#666;
}
a[href*="yandex"] {
    color:#f70;
}
a {
    font-weight: bold;
    font-size: 45px;
}
a[href^="./"] {
    color: blue;
}
span {
    font-size: 40px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    transform:rotate(90deg);
    margin-left: 15px;
}

