i {
    background: limegreen;
}
h2 {
    font-size: 30px;
}
.orange {
    color: orange;
}
.blue {
    color: blue;
}
.red {
    color: red;
    font-weight: normal;
}
.grey {
    color: grey;
    font-weight: normal;
}
.green {
    color: green;
    font-weight: normal;
}
li {
    font-weight: bold;
}
tr {
    text-align: center;
}
.left {
    text-align: left;
    color: gold;
}
.numbers {
    background: green;
    color: aliceblue;
}
p:first-letter {
    color:red;
    font-size: 35px;
}
h1 {
    color: orange;
    text-align: right;
    font-size: 55px;
}