* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin:0 auto;
    height: 310px;
    background: black;
}

div {
    float: left;
}

img {
    width: 105px;
    height: 95px;
    float: left;
    margin-left: 50px;
}

.left-comment, .right-comment {
    width: 355px;
    height: 95px;
    background: #FFFFFF;
    position: relative;
    margin-left: 25px;
}

.right-comment:before,
.left-comment:before {
    content: '';
    position: absolute;
    left: -40px;
    top: 30px;
    border: 20px solid transparent;
    border-right: 20px solid white;
}

.content:last-child {
    margin-left: 55px;
}

h1 {
    text-align: center;
    color: #3170A8;
    padding: 30px;
}

p {
    margin-top: 5px;
    font-size: 14px;
    color: #A7BBD9;
}

p i {
     color: #6A99CB;
}

.dots {
     border-top: 1px dotted black;
     padding: 5px;
     margin-top: 28px;
}

.what {
     color: #EE8129;
}

.name {
     display: inline;
     float: left;
     margin-left: 15px;
}

.customer {
     display: inline;
     float: right;
     margin-right: 15px;
}

.comments {
    position: relative;
    width: 80%;
    margin: 0 auto;
    left: 10%;
}

.comments img:last-child {
    margin-left: 5%;
}

