* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-block ,.left-block, .right-block {
    position: relative;
    width: 255px;
    border-radius: 6px;
    text-align: center;
    float: left;
}

.left-block h1 {
    background: #2BC2D4;
    border: 3px solid #2BC2D4;
    border-radius: 3px;
}

.left-block h1, .right-block h1 {
    height: 55px;
}

.main-block{
    border: 2px solid #EE8129;
    z-index: 1;
    box-shadow: 0 0 5px 2px #DCECF4;
    height: 430px;
}

.right-block h1 {
    background: #00B89A;
    border: 3px solid #00B89A;
    border-radius: 3px;
}

.left-block, .right-block {
    border: 2px solid #EEEFF1;
    margin-top: 10px;
    height: 400px;
}

h1 {
    background: #EE8129;
    color: #FFFFFF;
    margin-top: 0;
    font-size: 22px;
    height: 65px;
    padding: 18px;
}

p {
    color: #35495A;
    height: 17px;
    font-size: 21px;
    font-weight: bolder;
}

.value, .green-value, .blue-value {
    height: 60px;
    margin-left: 15px;
}

span {
    font-size: 60px;
}

p sup {
    position: absolute;
    padding: 5px;
    margin-left: -17px;
}

ul {
    position: relative;
    left: -5px;
    list-style-image: url("arrow.png");
    list-style-position: inside;
    background-position: center;
}

li {
    width: 100%;
    border-bottom: 2px solid #FFFFFF;
    text-align: left;
    padding: 7px 20px;
    margin: 0 -5px;
}

li:nth-child(odd) {
    background: #EDF5FD;
}

li:nth-child(even) {
    background: #F5F5F6;
}

a {
    width: 83%;
    height: 35px;
    border-radius: 5px;
    color: #FFFFFF;
    margin:0 auto;
    padding: 10px;
    display: block;
}

.orange-button {
    background: #EE8129;
    box-shadow: 0 2px 0 1px #B3560B;
}

.blue-button {
    background: #2F70A8;
    box-shadow: 0 2px 0 1px #13426B;
    margin-bottom: 20px;
}

p, .value, table {
    background: #FFFFFF;
}

.container {
    position: relative;
    margin:0 auto;
    width: 800px;
}

 .name {
     background: #FFFFFF;
     font-size: 25px;
     color: #35495A;
     text-align: center;
 }